---
import SubPageLayout from "../layouts/SubPageLayout.astro";

const PageTitle = "";
---

<SubPageLayout PageTitle={PageTitle}>
    <section class="notfound-container fade-in">
        <h2 class="notfound-title">404 Not Found</h2>
        <p class="notfound-message">お探しのページは見つかりませんでした。</p>
        <a href="/" class="notfound-link">トップページへ戻る</a>
    </section>
</SubPageLayout>
