---
import SubPageLayout from "../../layouts/SubPageLayout.astro";
const PageTitle = "創作展とは？";
---

<SubPageLayout PageTitle={PageTitle}>
    <section class="about-section fade-in">
        <p>
            創作展は、東京都立小石川中等教育学校の「行事週間」の一環として開催される、一般的な文化祭におけるクラス発表・部活発表を行う伝統的な行事です。毎年、外部からも多くの来校者が訪れる、学校を代表する行事となっています。
        </p>
        <p>
            創作展の歴史は、およそ100年以上前にさかのぼります。<br
            />1921年、東京府立第五中学校（現在の東京都立小石川中等教育学校）では初代校長・伊藤長七のもと、生徒たちの創作や研究の成果を発表する「創作展覧会」が開催され、3000人以上の来場が記録されました。
            <br />
            この創作展覧会は、「日本で最も古い文化祭」とも言われており、長い歴史を持ちながらも様々な変遷を経て変わり続けています。
        </p>
        <p>
            クラス発表では、教室とは思えない本格的な舞台が完成し、各クラスによる劇が披露されます。特に6年生は、来校者や生徒による投票で決まる「創作展大賞」を目指し、1年前から準備を進めます。
        </p>
        <p>過去の創作展の様子は学校HPからご覧になることができます。</p>
        <div class="about-link-center">
            <a
                href="https://www.metro.ed.jp/koishikawa-s/school_life/student_council.html"
                target="_blank"
                class="more-notice">学校HP</a
            >
        </div>
        <h3 id="youtube">YouTube動画</h3>
        <p>
            創作展について紹介した動画をYouTubeで公開しています！以下のリンクからご覧ください！
        </p>
        <ul>
            <li class="newtab-icon">
                <a
                    href="https://www.youtube.com/@%E5%85%AC%E5%BC%8F%E6%9D%B1%E4%BA%AC%E9%83%BD%E7%AB%8B%E5%B0%8F%E7%9F%B3%E5%B7%9D%E4%B8%AD/"
                    target="_blank"
                    >都立小石川中等教育学校公式YouTubeチャンネル</a
                >
            </li>
            <li class="newtab-icon">
                <a href="https://youtube.com/shorts/2yJGJPhV_-M" target="_blank"
                    >①創作展について</a
                >
            </li>
            <li class="newtab-icon">
                <a href="https://youtube.com/shorts/-M4Bh-I7gPQ" target="_blank"
                    >②立志部門について</a
                >
            </li>
            <li class="newtab-icon">
                <a href="https://youtube.com/shorts/NRFkfyVpqrY" target="_blank"
                    >③開拓部門について</a
                >
            </li>
            <li class="newtab-icon">
                <a href="https://youtube.com/shorts/2E4vPavf9Zw" target="_blank"
                    >④創作部門について</a
                >
            </li>
            <li class="newtab-icon">
                <a href="https://youtube.com/shorts/_7jx_NFF_9I" target="_blank"
                    >⑤特設ホームページについて</a
                >
            </li>
            <li class="newtab-icon">
                <a href="https://youtube.com/shorts/JnRkrixSRyQ" target="_blank"
                    >⑥部活動部門について</a
                >
            </li>
            <li class="newtab-icon">
                <a href="https://youtube.com/shorts/J879lpfsoac" target="_blank"
                    >⑦事前抽選について</a
                >
            </li>
        </ul>
        <h3 id="gyoujishukan">行事週間について</h3>
        <p>
            「行事週間」という名は小石川独自のものです。1週間で三大行事（芸能祭・体育祭・創作展）を連続して行うことから、小石川高校の生徒によって名付けられました。生徒自治の一環として、企画・運営はすべて生徒によって行われており、試行錯誤をしながらも主体的に活動することで得られる達成感と経験は、学校生活を支える基盤となっています。
        </p>
        <h3 id="theme">第93回創作展テーマ<br />「ここから広がる無限の創造」</h3>
        <p>
            このテーマの【ここ】には、小石川というこの場所を示す【此処】と、生徒・先生・来場者の方々、1人1人を意味する【個々】の2つの意味を込めています。1人1人が持つ可能性やアイデアを存分に発揮できる、そんな創作展になることを願い、このテーマにしました。
        </p>
        <h3 id="exhibits">出展団体</h3>
        <p>
            創作展では、以下の通り1～6年生の各クラスと部活動団体が出展を行います。
        </p>

        <ul>
            <li><strong>立志部門</strong>：1年生・2年生</li>
            <li><strong>開拓部門</strong>：3年生・4年生</li>
            <li><strong>創作部門</strong>：5年生・6年生</li>
            <li><strong>理数系部活動団体</strong></li>
            <li><strong>音楽系部活動団体</strong></li>
            <li><strong>その他の部活動団体</strong></li>
        </ul>
        <p>
            クラス団体は学年によって立志、開拓、創作の3つの部門に分かれており、立志部門は展示、開拓・創作部門は演劇を行います。教室前の外装や階段装飾、光庭に展示する光庭パネルなどの制作にも力を入れています。
        </p>
        <p>
            <a href="/page/exhibits/">こちら</a
            >のページで出展団体を紹介しています。ぜひご覧ください。
        </p>
        <div class="about-link-center">
            <a href="/page/exhibits/" class="more-notice">団体紹介</a>
        </div>
        <h3>投票・大賞について</h3>
        <p>創作展では、生徒や来校者による投票を行い、以下の賞を決定します。</p>
        <ul>
            <li><strong>立志部門 </strong>：1位（立志大賞）・2位・3位</li>
            <li><strong>開拓部門 </strong>：1位（開拓大賞）・2位・3位</li>
            <li><strong>創作部門 </strong>：1位（創作大賞）・2位・3位</li>
            <li><strong>光庭パネル部門</strong>：1位・2位・3位</li>
            <li><strong>外装・立志部門</strong>：1位・2位・3位</li>
            <li><strong>外装・開拓部門</strong>：1位・2位・3位</li>
            <li><strong>外装・創作部門</strong>：1位・2位・3位</li>
        </ul>
        <p>
            上3つのクラス展示の投票は紙で行い、光庭パネルと外装の投票はWebで行います。詳細は後日公開いたします。
        </p>
    </section>
</SubPageLayout>
