---
import SubPageLayout from "../../layouts/SubPageLayout.astro";
const PageTitle = "抽選について";
---

<SubPageLayout PageTitle={PageTitle}>
    <div class="content-container fade-in">
        <div class="content-box">
            <h3>抽選申し込みについて</h3>
            <p>5・6年生の劇は事前申し込み制となっております。</p>
            <p>詳細は準備中です。</p>
        </div>
    </div>
</SubPageLayout>
