---
import SubPageLayout from "../../layouts/SubPageLayout.astro";
import "../../style/lottery.css";
const PageTitle = "抽選結果";
import winners from "./gaibu_accepted.json";
import LottereySearch from "../../components/lottery_search";
const classes = ["5A", "5B", "5C", "5D", "6A", "6B", "6C", "6D"];
const slots = ["1", "2", "3", "4", "5", "6", "7", "8"];

/** 型注釈（任意） */
const winnersMap = winners as Record<string, Record<string, string[]>>;
const sousakuSchedules = [
    { time: "8:45 〜 10:00", event: "公演", location: "各クラス" },
    { time: "10:20 〜 11:35", event: "公演", location: "各クラス" },
    { time: "12:30 〜 13:45", event: "公演", location: "各クラス" },
    { time: "14:05 〜 15:20", event: "公演", location: "各クラス" },
];
---

<SubPageLayout PageTitle={PageTitle}>
    <div class="content-container fade-in">
        <section class="lottery-section">
            <div class="lottery-winner-intro">
                <p>
                    創作部門の劇の観覧の抽選結果です。<br />
                    4桁の<b>抽選番号</b>を公演ごとに表示しています。<br />
                    以下の検索ボックスからすぐに確認することもできます。<br />
                    <div style="color: red; font-weight: bold;">
                        ※こちらの検索機能において、「1日目 第4公演」が「2日目
                        第4公演」、「2日目 第4公演」が「3日目
                        第4公演」として表示される不具合がありました。<br />
                        現在は修正済みですが、以前に検索された方は再度ご確認ください。
                    </div>
                </p>
            </div>

            <LottereySearch client:load />
            <p class="important-notice">
                当選されたみなさまは、必ず公演開始5分前までに当選クラスの受付までお越しください。<br
                />
            </p>
            {
                classes.map((className) => (
                    <details class="lottery-class-details">
                        <summary class="lottery-class-summary">
                            {className}
                        </summary>

                        {slots.map((slot) => {
                            const names = winnersMap?.[className]?.[slot] ?? [];
                            return (
                                <div class="lottery-winner-slot">
                                    <h3>
                                        {Math.floor(
                                            (parseInt(slot) - 1) / 4 + 1,
                                        )}
                                        日目 第{((parseInt(slot) - 1) % 4) + 1}
                                        公演
                                    </h3>
                                    {/* 時間 */}
                                    <h3>
                                        {
                                            sousakuSchedules[
                                                (parseInt(slot) - 1) % 4
                                            ].time
                                        }
                                    </h3>
                                    <ul>
                                        {names.map((name) => (
                                            <li>{name}</li>
                                        ))}
                                    </ul>
                                </div>
                            );
                        })}
                    </details>
                ))
            }
        </section>
    </div>
</SubPageLayout>
