---
import SubPageLayout from "../../layouts/SubPageLayout.astro";
import "../../style/lottery.css";
const PageTitle = "抽選について";
---

<!-- TODO：リンクや画像（わかりやすい図）の追加、CSSの調整、内容の過不足の確認 -->
<SubPageLayout PageTitle={PageTitle}>
    <div class="content-container fade-in">
        <section class="lottery-section">
            <h2>これはまだ作り途中のページ</h2>
            <h2>抽選対象のもの</h2>
            <p>5・6年の劇のみ、事前抽選を行います。</p>

            <h2>抽選方法</h2>

            <h3>生徒・教員</h3>
            <p>お知らせしてある別の方法から抽選への申し込みをお願いします。</p>

            <h3>保護者</h3>
            <ul>
                <li>
                    自分の子どもが所属するクラスの劇は優先して観覧できます。詳しくはお子さんに連絡があるはずなのでご確認ください。
                </li>
                <li>
                    それ以外のクラスの観覧を希望する場合は、外部の方と同じ方法で抽選に参加してください。
                </li>
            </ul>

            <h3>外部</h3>
            <p>
                LOGOフォームというサービスを用いて観覧申し込みを行います。<br>受付期間は<strong
                    >8/23～9/6</strong
                >です。
            </p>
            <div class="about-link-center">
                <a
                    href="https://logoform.jp/f/PfdaT"
                    target="_blank"
                    class="more-notice">フォームはこちら</a
                >
            </div>
            <h4>LOGOフォームでの入力について</h4>
            <ol>
                <li>アカウントを作成し、ログインする。</li>
                <li>氏名やメールアドレスを入力する。</li>
                <li>
                    人数を選択する。
                    <ul>
                        <li>1人または2人から選べます。</li>
                        <li>未就学児はこの人数にカウントしません。</li>
                        <li>
                            小学生は必ず保護者1人と一緒に2人オプションで申し込んでください。
                        </li>
                        <li>2人オプションは中学生以上2人でもOKです。</li>
                    </ul>
                </li>
                <li>
                    希望観覧枠を選択する。
                    <ul>
                        <li>
                            クラスと時間をセットで、第一希望から第三希望まで選択できます。
                        </li>
                        <li>
                            同じものを複数選んだ場合は無効となるのでご注意ください。
                        </li>
                    </ul>
                </li>
                <li>
                    申し込みが完了すると、受付番号（長い番号）と抽選番号（4桁の数字）が表示されますので、必ず控えておいてください。
                </li>
                <li>
                    9/8頃、当選発表。
                    <ul>
                        <li>
                            LOGOフォームにログインすると、当選結果が分かります。
                        </li>
                        <li>
                            同時に、各枠で当選した抽選番号がHP上で公開されます。
                        </li>
                    </ul>
                </li>
                <li>
                    当日
                    <ul>
                        <li>
                            当日は、受付番号を用いて本人確認を行いますので、受付番号を必ずメモしておいてください。
                        </li>
                    </ul>
                </li>
            </ol>

            <h2>当日抽選</h2>
            <p>枠に余裕がある場合は当日抽選を実施する可能性があります。</p>
            <p>
                当日抽選は、校内に掲示するQRコードからWeb上で行います。詳しくは当日の案内をご確認ください。
            </p>
        </section>
    </div>
</SubPageLayout>
