---
import SubPageLayout from "../../layouts/SubPageLayout.astro";
const PageTitle = "校内地図";
---

<SubPageLayout PageTitle={PageTitle}>
    <section class="map-section fade-in">
        <!-- Map content will go here -->
    </section>
</SubPageLayout>