---
import SubPageLayout from "../../layouts/SubPageLayout.astro";
const PageTitle = "タイムスケジュール";
---

<SubPageLayout PageTitle={PageTitle}>
  <div class="time_schedule_note">

  </div>

</SubPageLayout>